body{

  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  margin: unset;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

/* body qr section */
.box{
  height: 400px;
  width: 200px;
  background-color: #fff;
  vertical-align: text-bottom;
  border-radius: 10px;
  text-align: center;
}

.imgtxt{
  box-sizing: content-box;
  width: 100%;
}

img{
  width: 80%;
  height: 30%;
  border-radius: 10px;
  margin: 3% auto 0 auto;

}

.txt{
  display: block;
  position: relative;
  bottom: 20px;
  margin: 10% auto 3% auto;
}

h5{
  font-weight: 700;
  font-size: 20px;
}

p{
  font-weight: 400;
  color: lightgrey;
  margin: 0;
}


/* attribution */

.attribution{
  position: absolute;
  bottom: 0;
  right: 0;
}
